<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802454059301-rd8kiuruf3fn94sfe797jl6k0mgf7p2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802454059301-rd8kiuruf3fn94sfe797jl6k0mgf7p2p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802454059301-5ag6tttq1uua56sa5k652pee9537m31h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBr5dq4USZIk0r4X05552DQIjG4pDH2xY8</string>
	<key>GCM_SENDER_ID</key>
	<string>802454059301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fooddrop2</string>
	<key>PROJECT_ID</key>
	<string>fooddrop-7d922</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddrop-7d922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802454059301:ios:f7d1bc026035cada6b82cc</string>
</dict>
</plist>